 <div *ngIf="user">
 <h2>{{title}}</h2>
 <form class="credentials-form">
  <div class="form-group">
    <label for="nameInput">User Name</label>
    <input type="text" class="form-control" id="nameInput" name="name" placeholder="Enter user name" [(ngModel)]="user.name" readonly>
  </div>
  <div class="form-group">
    <label for="passwordInput">Password</label>
    <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Password" [(ngModel)]="user.password">
  </div>
  <input type="button" class="btn btn-link" (click)="goBack()" value="Back"/>
  <input type ="button" class="register-button btn btn-primary" value="Save" (click) = "saveUser(user)"/>
  <input type ="button" class="delete-button btn" value="Delete" (click) = "deleteUser(user)"/>
</form>
